<%- include("header") -%>

<h2>This is the about page..</h2>

<p class="aboutText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae nibh eget elit volutpat pulvinar. Etiam lacinia dapibus finibus. Donec mi ex, commodo vitae sem ut, egestas aliquet nisi. Proin tempus bibendum eros ut luctus. Suspendisse vel dolor leo. Suspendisse potenti. Integer eget tristique orci. Sed tincidunt pulvinar consectetur. Vestibulum nec volutpat lorem.</p>

<%- include("footer") -%>
